@font-face {
  src: url(fonts/ISOCT.ttf);
  font-family: iso;
}

.container {
  height: 95vh;
  position: relative;
}

.vert-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  font-size: 50px;
  color: white;
  line-height: 20px;
  font-family: iso;
  text-align: center;
}

.title2 {
  font-size: 15px;
  color: grey;
  line-height: 15px;
  font-family: iso;
  text-align: left;
}
